{{- range $module := .Modules }}
module "{{ $module.ModuleName }}" {
  source = "{{ $module.Source }}"
  {{- $moduleVars := index $.ModuleVariables $module.ModuleName }}
  {{- range $varName, $var := $moduleVars }}
  {{ $varName }} = {{ formatValue $var.Value $var.Type }}
  {{- end }}
  {{- if $module.DependsOn }}
  depends_on = [
    {{- range $index, $dependency := $module.DependsOn }}
    module.{{ $dependency }}{{ if lt (add $index 1) (len $module.DependsOn) }},{{ end }}
    {{- end }}
  ]
  {{- end }}
}
{{ end }}