resource_group_name  = "{{ .Backend.ResourceGroupName }}"
storage_account_name = "{{ .Backend.StorageAccountName }}"
container_name       = "{{ .Backend.ContainerName }}"
key                  = "{{ .Backend.Key }}"
access_key           = "{{ .Backend.AccessKey }}"
subscription_id      = "{{ .Backend.SubscriptionId }}"