{{- range $name, $var := .Variables }}
variable "{{ $name }}" {
  description = "{{ $var.Description }}"
  type        = {{ $var.Type }}
  {{- if $var.Sensitive }}
  sensitive   = true
  {{- end }}
}
{{ end }}