{{- range $key, $metadata := .Variables }}
{{- if eq $metadata.Type "list(string)" }}
{{ $key }} = {{ toJSON $metadata.Value }}
{{- else if eq $metadata.Type "map(string)" }}
{{ $key }} = {
{{- range $mapKey, $mapValue := $metadata.Value }}
  {{ $mapKey }} = "{{ $mapValue }}"
{{- end }}
}
{{- else if eq $metadata.Type "bool" }}
{{ $key }} = {{ $metadata.Value }}
{{- else if eq $metadata.Type "object" }}
{{ $key }} = {
{{- range $attrKey, $attrValue := $metadata.Value }}
  {{ $attrKey }} = {{ if eq (typeOf $attrValue) "string" }}"{{ $attrValue }}"{{ else }}{{ $attrValue }}{{ end }}
{{- end }}
}
{{- else }}
{{ $key }} = "{{ $metadata.Value }}"
{{- end }}
{{- end }}