{{- range $name, $var := .Module.Variables }}
variable "{{ $name }}" {
  description = "{{ or $var.Description "No description provided" }}"
  type        = {{ $var.Type }}
  {{- if $var.Default }}
  default     = {{ formatDefault $var }}
  {{- end }}
  {{- if $var.Sensitive }}
  sensitive   = true
  {{- end }}
  {{- if $var.Validation }}
  validation {
    condition     = {{ $var.Validation.Condition }}
    error_message = "{{ $var.Validation.ErrorMessage }}"
  }
  {{- end }}
}
{{- end }}